<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @page {
            size: a4 portrait;
            @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
            }
            @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        }
        td{
            padding:5px;
        }
        .hd{
            text-align: center;
            font-size:25px;
            font-weight: bold;
            background-color: #9f9f9f;
        }
        @font-face {
            font-family: song;
            src: url('stsong.TTF');
        }
        @font-face {
            font-family: yh;
            src: url('msyh.TTF');
        }
    </style>
    </head>
    <body>
<div id="header_content" style="font-family: yh;color:#0000ff;font-size:30px;text-align: center;border-bottom: 5px #ff0000 dotted;font-weight:bold;">
        Here is title 
</div>

<div id="footer_content">(c) - page <pdf:pagenumber>
    of <pdf:pagecount>
</div>

<pdf:barcode value="HN123" type="code128" humanreadable="1"  />
<p>{{title}}</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<div style="border:1px #ff0000 solid;width:200px;height:100x;background-color:#00ff00;font-size:30px;color:#ffff00;
padding:10px;text-align: center;">
这里是标题 Here is title ここはタイトルです
</div>

<img src="templates/pdf_tpl/1.jpg">
<table border="1" repeat="1">
        <tr>
        <td class="hd">Title</td>
        <td class="hd">User</td>
        <td class="hd">Date</td>
</tr>
<tr>
        <td>aaa</td>
        <td><img src="templates/pdf_tpl/1.jpg" style="height:30px;width:30px;">
bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
<tr>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
</tr>
</table>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/> 
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:red">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>
<p style="height:500px;color:blue">aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<pdf:nextpage/>

<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
<p>aaaaaa</p>
